libresonic-rest-api/src/main/resources/design/raml/api-workbench-project/schemas/ping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://libresonic.org/restapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subsonic-response">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="status"/>
          <xs:attribute type="xs:string" name="version"/>
          <xs:attribute type="xs:string" name="type"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
